body{
    height: 100%;
    background-image: linear-gradient(135deg,#020030 60%, #0201E0);
    background-attachment: fixed;
    overflow: hidden;
}
.principal-container{
    height: 569px;
    width: 100%;
    background-image: linear-gradient(45deg,#C90053, rgba(255,255,255,0) 50%);
    position: fixed;
}
.nav{
	background: rgb(0, 0, 0,0);
	height: 80px;
	width: 100%;

}

.nav_container{
    position: relative;
    display: flex;
	height: 100%;
	width: 100%;
	margin:  0 auto;
	justify-content: space-between;
	align-items: center;

}
.nav_menu{
	display: grid;
	grid-auto-flow: column;
	gap: 1em;
}
.nav_item{
    font-family: 'PT Mono', monospace;
    padding: 40px;
    position: relative;
    right: 10%;
}
.nav_item:hover{
	--clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
}

.logo{
    border-radius: 100%;
    width: 55px;
    height: 55px;
    color: #0201E0;
    position: relative;
    top: 2px;
    left: -500%;
    display: block;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.formulario{
    height: 400px;
    width: 35%;
    background-color:red;
    color: #ffffff;
    position: absolute;
    right: 12%;
    bottom: 8%;
    background-color: rgb(173, 173, 173, 0.55);
    text-align: left;
    border-radius: 10%;
}
form{
    padding: 5% 10% 10%;

}
label{
    padding-top: 20px;
    display: block;
    font-family: 'Goblin One', cursive;
    font-size: 10px;
    font-weight: 100;
}
input, textarea{
    display: block;
    background: none;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'PT Mono', monospace;
    padding-top: 6px;
}
textarea{
    height: 50px;
    resize: none;
}

button{
    background-color: #0201E0;
    color: #ffffff;
    border: 0;
    border-radius: 10%;
    margin: 10px auto;
    height: 30px;
    position: absolute;
    font-family: 'Goblin One', cursive;
    font-size: 80%;
}
.principal-text{
    color: #ffffff;
    width: 25%;
    font-family: 'Goblin One', cursive;
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: 18%;
    left: 10%;
}